html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

#telegram-login-minnybot {
  display: block;
  margin: 4em auto 4em auto;
}

#music-iframe {
  width: 100%;
  margin-top: 2em;
}

.has-text-centered {
  text-align: center;
}

.centered-flex {
  display: flex;
  margin: auto;
  width: fit-content;
}

.col {
  padding-top: 0;
  padding-bottom: 0;
}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background: white;
}

progress::-webkit-progress-value {
  transition: background-color 2s;
}

progress::-moz-progress-bar {
  transition: background-color 2s;
}

.progress.is-success::-webkit-progress-value {
  background-color: #48c78e;
}

.progress.is-success::-moz-progress-bar {
  background-color: #48c78e;
}

.progress.is-success::-ms-fill {
  background-color: #48c78e;
}

.progress.is-warning::-webkit-progress-value {
  background-color: #ffe08a;
}

.progress.is-warning::-moz-progress-bar {
  background-color: #ffe08a;
}

.progress.is-warning::-ms-fill {
  background-color: #ffe08a;
}

.progress.is-danger::-webkit-progress-value {
  background-color: #f14668;
}

.progress.is-danger::-moz-progress-bar {
  background-color: #f14668;
}

.progress.is-danger::-ms-fill {
  background-color: #f14668;
}
